{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info client_list">
            <h4>Добавить клиента</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="ul ul-info">
                    <h4>Основные данные</h4>
                    <div class="li">
                        <label>
                            <span>Имя:</span>
                            {{ form_client.name }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>ФИО:</span>
                            {{ form_client.fullname }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Пол:</span>
                            {{ form_client.sex }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Статус:</span>
                            {{ form_client.status }}
                        </label>
                    </div>
                </div>
                <div class="ul ul-info">
                    <h4>Паспорт</h4>
                    <div class="li">
                        <label>
                            <span>Серия:</span>
                            {{ form_passport.series }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Номер:</span>
                            {{ form_passport.number }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата рождения:</span>
                            {{ form_passport.birth_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Место рождения:</span>
                            {{ form_passport.birth_place }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата выдачи:</span>
                            {{ form_passport.issue_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата окончания:</span>
                            {{ form_passport.expiry_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Место выдачи:</span>
                            {{ form_passport.authority }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            {{ form.client }}
                            <input id="save_and_exit_id" name="save_and_exit" type="submit">
                            <input id="save_and_edit_id" name="save_and_edit" type="submit">
                        </label>
                    </div>
                </div>
            </form>
            <div class="li li_hidden">
                {% for message in messages %}
                    <span id="messages">{{ message }}</span>
                {% endfor %}
            </div>
            <div class="ul ul-button">
                <label class="button button_confirm" for="save_and_exit_id">Сохранить и закрыть</label>
                <label class="button button_confirm" for="save_and_edit_id">Сохранить</label>
                <a href="{% url 'viewClient' %}">
                    <div class="button">Назад</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
