.idea
src/.env
_scraps

src/traveler_dream/media/avatars/*
!/src/traveler_dream/media/avatars/look.png
!/src/traveler_dream/media/avatars/Фото_Иванов.jpg
!/src/traveler_dream/media/avatars/Фото_Константинов.jpg
!/src/traveler_dream/media/avatars/Фото_Сидоров.jpg
!/src/traveler_dream/media/avatars/Фото_Федорова.jpg

src/static

src/stuff/migrations/*.py
!src/stuff/migrations/__init__.py

src/clients/migrations/*.py
!src/clients/migrations/__init__.py

