{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info employee_card">
            <h4>{{ form.full_name.value }} (Сотрудники)</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ul ul-info">
                    <div class="li">
                        <label>
                            <span>Имя:</span>
                            {{ form.name }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>ФИО:</span>
                            {{ form.full_name }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Организация:</span>
                            {{ form.organization }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Пол:</span>
                            {{ form.sex }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата рождения:</span>
                            {{ form.birth_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Должность:</span>
                            <select name="position" required>
                                <option value="3" {% if position == "администратор" %} selected {% endif %}>
                                    Администратор
                                </option>
                                <option value="1" {% if position == "менеджер" %} selected {% endif %}>Менеджер</option>
                                <option value="2" {% if position == "бухгалтер" %} selected {% endif %}>Бухгалтер
                                </option>
                                <option value="4" {% if position == "агент" %} selected {% endif %}>Агент</option>
                            </select>
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            {#{{ form.is_staff }}#}
                            {#{{ form.is_active }}#}
                            {{ form.date_joined }}
                            <input id="save_id" name="save" type="submit">
                            <input id="save_and_exit_id" name="save_and_exit" type="submit">
                        </label>
                    </div>
                    <div class="li li_hidden">
                        {% for message in messages %}
                            <span id="messages">{{ message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="ul ul-photo">
                    {% if user.photo.url != null %}
                        <h5>Фото сотрудника</h5>
                        {% if user.photo %}
                            <a href="{{ user.photo.url }}" target="_blank">
                                <img src="{{ user.photo.url }}" alt="user avatar">
                            </a>
                        {% else %}
                            <img src="{{ user.photo.url }}" alt="user avatar">
                        {% endif %}
                    {% else %}
                        <h5>Добавить фото</h5>
                    {% endif %}
                    <div class="photo_settings">
                        {{ form.photo }}
                    </div>
                    {#                    <div class="photo"></div>#}
                </div>
            </form>
            <div class="ul ul-button">
                <label class="button button_confirm" for="save_and_exit_id">Записать и выйти</label>
                <label class="button button_confirm" for="save_id">Записать</label>
                {% if user.photo %}
                    <a href="{{ user.photo.url }}" download="{{ user.photo.filename }}">
                        <div class="button button_confirm">Скачать изображение</div>
                    </a>
                {% endif %}
                <a href="{% url 'viewEmployee' %}">
                    <div class="button">Выйти</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
