{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info employee_list">
            <h4>Список сотрудников</h4>
            <div class="li li_hidden">
                {% for message in messages %}
                    <span id="messages">{{ message }}</span>
                {% endfor %}
            </div>
            <div class="table">
                <div class="tr">
                    <div class="td">Сотрудник</div>
                    <div class="td">ФИО</div>
                    <div class="td">Организация</div>
                    <div class="td">Статус</div>
                    <div class="td td-deleted">Действия</div>
                </div>
                {% for item in users_list %}
                    <div class="tr">
                        <div class="td">{{ item.name }}</div>
                        <div class="td">{{ item.full_name }}</div>
                        <div class="td">{{ item.organization }}</div>
                        <div class="td">{{ item.groups.all.0 }}</div>
                        <div class="td td-deleted">
                            <div class="li"><a href={% url 'editEmployee' item.id %}>Изменить</a></div>
                            <div class="li"><a href={% url 'deletedEmployee' item.id %}>Удалить</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ul ul-button">
                <a href="{% url 'addEmployee' %}">
                    <div class="button button_confirm">Добавить сотрудника</div>
                </a>
                <a href="{% url 'home' %}">
                    <div class="button">Выйти</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
