{% load static %}
<div class="ul">
    <h4>Для администратора</h4>
    <div class="li"><a href={% url 'viewEmployee' %}>Список сотрудников</a></div>
    <div class="li"><a href={% url 'addEmployee' %}>Добавить сотрудника</a></div>
    <div class="li"><a href={% url 'viewClient' %}>Список клиентов</a></div>
    <div class="li"><a href={% url 'addClient' %}>Добавить клиента</a></div>

{#    <div class="li"><a href={% url 'viewHotel' %}>Список отелей</a></div>#}
{#    <div class="li"><a href={% url 'addHotel' %}>Добавить отель</a></div>#}
{#    <div class="li"><a href={% url 'viewCity' %}>Список городов</a></div>#}
{#    <div class="li"><a href={% url 'addCity' %}>Добавить город</a></div>#}
    <div class="li"><a href={% url 'viewCountry' %}>Список стран</a></div>
    <div class="li"><a href={% url 'addCountry' %}>Добавить страну</a></div>
</div>