{% extends "base.html" %}
{% load static %}
{% load group_tags %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info main">
            <div class="ul">
                {% if user|has_group:'Администратор' %}
                    {% include 'adminLinks.html' %}

                {% elif user|has_group:'Менеджер' %}
                    {% include 'managerLinks.html' %}

                {% elif user|has_group:'Агент' %}
                    {% include 'agentLinks.html' %}

                {% elif user|has_group:'Бухгалтер' %}
                    {% include 'accountantLinks.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
