{% extends "base.html" %}
{% load static %}
{% load group_tags %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info main">
            <div class="ul">
                {% if logger_in_user|has_group:'Administrator' %}
                    {% include 'adminLinks.html' %}

                {% elif logger_in_user|has_group:'Manager' %}
                    {% include 'managerLinks.html' %}

{#                {% elif user|has_group:'Agent' %}#}
{#                    {% include 'adminLinks.html' %}#}
{#                    #}
{#                {% elif user|has_group:'Accountant' %}#}
{#                    {% include 'adminLinks.html' %}#}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
