Django
Pillow
mysqlclient
django-mysql
# django-grappelli
# django-ckeditor
# django-hashid-field
django-nested-admin
django-admin-interface
django-tabbed-admin
sorl-thumbnail
python-decouple
