{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info client_list">
            <div class="block_horizontal">
                <h4>Список клиентов</h4>
                <form type="GET" action="" class="search">
                    <input id="search_box" type="text" name="search_box" placeholder="Поиск...">
                    <button id="search_submit" type="submit">Поиск</button>
                </form>
            </div>
            <div class="li li_hidden">
                {% for message in messages %}
                    <span id="messages">{{ message }}</span>
                {% endfor %}
            </div>
            <div class="table">
                <div class="tr">
                    {#                    <div class="td">Имя</div>#}
                    <div class="td">ФИО</div>
                    <div class="td">Пол</div>
                    <div class="td">Статус</div>
                    <div class="td td-deleted">Действия</div>
                </div>
                {% for item in client_list %}
                    <div class="tr">
                        {#                        <div class="td">{{ item.name }}</div>#}
                        <div class="td">{{ item.full_name }}</div>
                        <div class="td">{{ item.sex }}</div>
                        <div class="td">{{ item.status }}</div>
                        <div class="td td-deleted">
                            <div class="li"><a href={% url 'editClient' item.id %}>Изменить</a></div>
                            <div class="li"><a href={% url 'deletedClient' item.id %}>Удалить</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ul ul-button">
                <a href="{% url 'addClient' %}">
                    <div class="button button_confirm">Добавить клиента</div>
                </a>
                <a href="{% url 'home' %}">
                    <div class="button">Выйти</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
