{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info employee_card">
            <h4>{{ form.name.value }} (Отели)</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ul ul-info">
                    <div class="li">
                        <label>
                            <span>Название:</span>
                            {{ form.name }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Тип:</span>
                            {{ form.type }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Город:</span>
                            {{ form.city }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Адрес:</span>
                            {{ form.address }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <input id="save_id" name="save" type="submit">
                            <input id="save_and_exit_id" name="save_and_exit" type="submit">
                        </label>
                    </div>
                    <div class="li li_hidden">
                        {% for message in messages %}
                            <span id="messages">{{ message }}</span>
                        {% endfor %}
                    </div>
                </div>
            </form>
            <div class="ul ul-button">
                <label class="button button_confirm" for="save_and_exit_id">Записать и выйти</label>
                <label class="button button_confirm" for="save_id">Записать</label>
                <a href="{% url 'viewHotel' %}">
                    <div class="button">Выйти</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
