{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info employee_card">
            <h4>Добавить город</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ul ul-info">
                    <div class="li">
                        <label>
                            <span>Название:</span>
                            {{ form.name }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Страна:</span>
                            {{ form.country }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <input id="save_and_exit_id" name="save_and_exit" type="submit">
                            <input id="save_and_edit_id" name="save_and_edit" type="submit">
                        </label>
                    </div>
                    <div class="li li_hidden">
                        {% for message in messages %}
                            <span id="messages">{{ message }}</span>
                        {% endfor %}
                    </div>
                </div>
            </form>
            <div class="ul ul-button">
                <label class="button button_confirm" for="save_and_exit_id">Сохранить и закрыть</label>
                <label class="button button_confirm" for="save_and_edit_id">Сохранить</label>
                <a href="{% url 'viewCity' %}">
                    <div class="button">Назад</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
