{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info employee_list">
            <div class="block_horizontal">
                <h4>Список городов</h4>
                <form type="GET" action="." class="search">
                    <input id="search_box" type="text" name="search_box" placeholder="Поиск...">
                    <button id="search_submit" type="submit">Поиск</button>
                </form>
            </div>
            <div class="li li_hidden">
                {% for message in messages %}
                    <span id="messages">{{ message }}</span>
                {% endfor %}
            </div>
            <div class="table">
                <div class="tr">
                    <div class="td">Название</div>
                    <div class="td">Страна</div>
                    <div class="td td-deleted">Действия</div>
                </div>
                {% for item in cities_list %}
                    <div class="tr">
                        <div class="td">{{ item.name }}</div>
                        <div class="td">{{ item.country }}</div>
                        <div class="td td-deleted">
                            <div class="li"><a href={% url 'editCity' item.id %}>Изменить</a></div>
                            <div class="li"><a href={% url 'deletedCity' item.id %}>Удалить</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ul ul-button">
                <a href="{% url 'addCity' %}">
                    <div class="button button_confirm">Добавить город</div>
                </a>
                <a href="{% url 'home' %}">
                    <div class="button">Выйти</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
