// Color palette

$black: #2C292D;
$justBlack: #514B53;
$pink: #ff6188;
$yellow: #ffd866;
$grey: #cac6c2;
$white: #fdf9f3;
$snowWhite: #ffffff;
$green: #50cd50;
$blackGreen: #45b045;

// Pixel sizer value

$siteMaxWidth: 1200px;