{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="block_main">
        <div class="block_info client_list">
            <h4>Карточка сотрудника: Самсонов Вячеслав</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ul ul-info">
                    <h4>Паспорт</h4>
                    <div class="li">
                        <label>
                            <span>Серия</span>
                            {{ form.series }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Номер</span>
                            {{ form.number }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата рождения</span>
                            {{ form.birth_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Место рождения</span>
                            {{ form.birth_place }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата получения</span>
                            {{ form.issue_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Дата окончания</span>
                            {{ form.expiry_date }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            <span>Место выдачи</span>
                            {{ form.authority }}
                        </label>
                    </div>
                    <div class="li">
                        <label>
                            {{ form.client }}
                            <input id="add_employee_id" type="submit">
                        </label>
                    </div>
                    <div class="li li_hidden">
                        {% for message in messages %}
                            <span id="messages">{{ message }}</span>
                        {% endfor %}
                    </div>
                </div>
            </form>
            <div class="ul ul-button">
                <label class="button button_confirm" for="add_employee_id">Записать</label>
                <a href="{% url 'home' %}">
                    <div class="button">Выйти</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
